doctype html
html(lang="pt-BR")
  head
    title La gran lista del Productos
    //link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    script(type='text/javascript',src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    style
      //table spin
  body
    //script(type='text/javascript').
    div(class='container',style='text-align: center;')
      h1(class='title') NEW PRODUCT!!!!😂😂😂😂
      ul(class='alert alert-danger',role='alert')
        if locals.errs
          each erro in locals.errs
            li=erro.msg
              span(class='glyphicon glyphicon-exclamation-sign',aria-hidden='true')
              
      form(action='/produtos',method='POST')
        div(class='form-group')
          div(class='form-group')
            label(for='titulo',text='titulo') Titulo 😱😱   
              input(name='titulo',type='text')
          
          div(class='form-group')
            label(for='preco',text='preco') Preço 😫😫   
              input(name='preco',type='text')
          
          div(class='form-group')
            label(for='descricao',text='descricao') Descricao 😷😷  
              input(name='descricao',type='text')
          br
          input(class='btn btn-primary',type='submit',value='Cadastrar!!!😆😆😆')
