doctype html
html(lang="pt-BR")
  head
    title La gran lista del Productos
    //script(type='text/javascript').
  body
    h1 Bienvenido, amigo!
    h2 Por favor, confira nuestra lista de productos
    a(class='button', href='/produtos')  hasta click ahí! para accessar la pagina!
