doctype html
html(lang="pt-BR")
  head
    title La gran lista del Productos
    script(type='text/javascript',src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    div(class='container',style='text-align: center;')
      //script(type='text/javascript').
      h1(class='title') La Listagem del productos!
      table(class='table table-striped table-bordered')
        thead 
          tr 
            th Titulo
            th Preço
            th Descrição
        each val in produtos
          tr
            td=val.titulo
            td=val.preco
            td=val.descricao
      a(class='btn btn-default', href='/produtos/novo') Inserir novo produto!
