doctype html
html(lang="pt-BR")
  head
    title La gran lista del Productos
  body
    //script(type='text/javascript').
    h1 La Listagem del productos!
    table(border='1px')
      thead 
        tr 
          td Titulo
          td Preço
          td Descrição
      each val in produtos
        tr
          td=val.titulo
          td=val.preco
          td=val.descricao
      
        
